[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"beautifulsoup4" = "*"
dj-database-url = "*"
django-extensions = "*"
django-cors-headers = "*"
djangorestframework = "==3.8.2"
"github3.py" = "*"
gunicorn = "*"
lxml = "*"
mock = "*"
"psycopg2-binary" = "*"
requests = "*"
whitenoise = "*"
Django = "==1.11.5"
"boto3" = "*"
pillow = "*"
qrcode = "*"
raven = "*"
slacker = "*"
smtpapi = "*"

[requires]
python_version = "3.5"
