[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"beautifulsoup4" = "*"
certifi = "*"
chardet = "*"
dj-database-url = "*"
django-extensions = "*"
django-cors-headers = "*"
django-rest-framework = "==0.1.0"
djangorestframework = "==3.8.2"
"github3.py" = "*"
gunicorn = "*"
idna = "*"
itypes = "*"
lxml = "*"
mock = "*"
"psycopg2-binary" = "*"
pytz = "*"
requests = "*"
uritemplate = "*"
"uritemplate.py" = "*"
"urllib3" = "*"
whitenoise = "*"
Django = "==1.11.5"
"Jinja2" = "*"
MarkupSafe = "*"

[requires]
python_version = "3.5"
