asn1crypto==0.23.0
beautifulsoup4==4.6.0
boto3==1.7.20
botocore==1.10.20
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
configparser==3.5.0
cryptography==2.1.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.5
django-cors-headers==2.2.0
django-extensions==2.0.7
django-rest-framework==0.1.0
django-toolbelt==0.0.1
djangorestframework==3.8.2
docutils==0.14
enum34==1.1.6
flake8==3.5.0
futures==3.2.0
github3.py==1.1.0
gunicorn==19.8.1
idna==2.6
ipaddress==1.0.18
jmespath==0.9.3
lxml==4.2.1
mccabe==0.6.1
mock==2.0.0
ndg-httpsclient==0.4.3
pbr==4.0.2
psycopg2==2.7.3.1
psycopg2-binary==2.7.4
pyasn1==0.4.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
pyOpenSSL==17.5.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
static3==0.7.0
typing==3.6.4
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
whitenoise==3.3.1