<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Blog{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>My Site</h1>
        {% if user.is_authenticated %}
        <a href="{% url 'registration:logout' %}">log out</a>
        {% else %}
          <a href="{% url 'registration:login' %}">log in</a>
          <a href="{% url 'registration:signup' %}">sign up</a>
        {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>